<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Capstone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CapstoneTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6C8A77D2A2432A800F0CED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C8A7B82A24B3A300F0CED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C8A7E22A24B64A00F0CED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C8A7F02A24B73F00F0CED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
